<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insider</title>

        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- Import personal css -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    
    <body>
        <!-- Header -->
        <header id="header">
            <a href="#" class="logo">Insider</a>
            <ul>
                <li><a href="/insider#home" onclick="toggle()">Inicio</a></li>
                <li><a href="/insider#about" onclick="toggle()">Acerca de Insider</a></li>
                <li><a href="/insider#worlds" onclick="toggle()">Mundos</a></li>
                <li><a href="/insider#team" onclick="toggle()">Nuestro Equipo</a></li>
                <% if(!player){ %>
                    <li id="login"><a href="/insider/iniciarSesion"> Inicia Sesión</a></li>
                <% } %>
                <% if(player){ %>
                    <li class="avatar-dropdown">
                        <img class="avatar dropdown-toggle" data-toggle="dropdown" src="https://image.freepik.com/vector-gratis/cute-dibujos-animados-juegos-gato_138676-2969.jpg" />
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/insider/jugador">Mi perfil</a>
                            <a class="dropdown-item" href="/insider/cerrarSesion">Cerrar Sesión</a>
                        </div>
                    </li>
                    <li class="player-links"><a href="/insider/jugador">Mi perfil</a></li>
                    <li class="player-links"><a href="/insider/cerrarSesion">Cerrar Sesión</a></li>
                <% } %>
            </ul>

            <div class="toggle" onclick="toggle()"></div>
        </header>

        <!-- Banner -->
        <section class="banner" id="home">

            <div id="move-left" onclick="moveLeft()">
                <i class="fas fa-chevron-left"></i>
            </div>

            <div class="cards disabled" style="background-image: linear-gradient(rgba(69, 123, 157, 0.2), rgba(69, 123, 157, 0.2)), url(https://image.freepik.com/vector-gratis/iconos-analisis-negocios-brillantes-isometricos-establecidos-personas-que-hacen-varios-graficos-diagramas-ilustracion-vector-aislado-3d_1284-30862.jpg);">
                <h2><a href="/insider/DatosJugador">STEAM</a> </h2> 
            </div>
            <div class="cards " id="cardActive" style="background-image: linear-gradient(rgba(69, 123, 157, 0.2), rgba(69, 123, 157, 0.2)), url(https://image.freepik.com/vector-gratis/cute-dibujos-animados-juegos-gato_138676-2969.jpg);">
                <h2><a href="/insider/download">Jugar</a></h2>
            </div>
            <div class="cards disabled" style="background-image: linear-gradient(rgba(69, 123, 157, 0.2), rgba(69, 123, 157, 0.2)), url(https://image.freepik.com/vector-gratis/ilustracion-concepto-analisis-oscuro_114360-2752.jpg);">
                <h2><a href="/insider/Tutoriales">Tutoriales</a></h2>
            </div>

            <div id="move-right" onclick="moveRight()">
                <i class="fas fa-chevron-right"></i>
            </div>

        </section>

        <!-- About -->
        <section class="about-section" id="about">
            <div class="about-content">  
                <h2>Acerca de Insider</h2>
                <p>
                    Insider es un videojuego que busca atender la falta de estimulación e 
                    interés en los adolescentes hacia las áreas de <a href="https://movimientosteam.org/" target="_blank">STEAM.</a> Este consta 
                    de 5 mundos, cada uno presenta diferentes retos que le permiten al 
                    jugador desarrollarse en competencias específicas, con lo cual el 
                    jugador podrá identificar sus fortalezas para cada área.
                </p>
            </div>
        </section>

        <!-- Worlds -->
        <section class="world-section" id="worlds">
            <h2>Mundos</h2>
            <div class="world-cards">

                <div class="world-card">
                    <div class="world-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/Sciences.png);">
                        <h1>S</h1>
                    </div>
                    <div class="world-info">
                        <h2>Science</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Veritatis vero repellendus voluptatum iste sint ut est, 
                            ipsa, amet debitis architecto suscipit corporis accusantium 
                            et inventore laboriosam itaque quasi adipisci pariatur.
                        </p>
                    </div>
                </div>

                <div class="world-card">
                    <div class="world-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/Technology.png);">
                        <h1>T</h1>
                    </div>
                    <div class="world-info">
                        <h2>Technology</h2>
                        <p>
                            En el mundo de tecnología se desarrollaran las competencias de deducción y 
                            razonamiento lógico mediante la solución de un puzzle el cual deberás resolver
                            en un tiempo determindo.
                        </p>
                    </div>
                </div>

                <div class="world-card">
                    <div class="world-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/engineering.png);">
                        <h1>E</h1>
                    </div>
                    <div class="world-info">
                        <h2>Engineering</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Veritatis vero repellendus voluptatum iste sint ut est, 
                            ipsa, amet debitis architecto suscipit corporis accusantium 
                            et inventore laboriosam itaque quasi adipisci pariatur.
                        </p>
                    </div>
                </div>

                <div class="world-card">
                    <div class="world-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/art.png);">
                        <h1>A</h1>
                    </div>
                    <div class="world-info">
                        <h2>Art</h2>
                        <p>
                            En el mundo de arte se desarrollaran las competencias de atención y coordinación
                            al recolectar y crear los colores solicitados a partir de los tres colores primarios, 
                            para asi revelar algunas obras de Remedios Varo.
                        </p>
                    </div>
                </div>

                <div class="world-card">
                    <div class="world-image" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(images/maths.png);">
                        <h1>M</h1>
                    </div>
                    <div class="world-info">
                        <h2>Mathematics</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Veritatis vero repellendus voluptatum iste sint ut est, 
                            ipsa, amet debitis architecto suscipit corporis accusantium 
                            et inventore laboriosam itaque quasi adipisci pariatur.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <!-- Team -->
        <section class="team-section" id="team">
            <div class="team-info">
                <h2>Nuestro Equipo</h2>
                <p>
                    Somos un grupo de estudiantes del Tecnológico de Monterrey estudiando 
                    la carrera de Ingeniería en Tecnologías Computacionales en el campus 
                    Estado de México.
                </p>
            </div>

            <div class="team-cards">


                <div class="member-card">
                    <div class="member-image">
                        <img src="images/Diego.jpeg" alt="">
                    </div>
                    <div class="member-info">
                        <h2>Emilio Ríos</h2>
                        <a href="https://github.com/Emilio2001Rivers2016" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                
                <div class="member-card">
                    <div class="member-image">
                        <img src="images/Diego.jpeg" alt="">
                    </div>
                    <div class="member-info">
                        <h2>Fernanda Ramírez</h2>
                        <a href="https://github.com/RamirezFernanda" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                
                <div class="member-card">
                    <div class="member-image">
                        <img src="images/Diego.jpeg" alt="">
                    </div>
                    <div class="member-info">
                        <h2>Diego Ulibarri</h2>
                        <a href="https://github.com/UlibarriD" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                
                <div class="member-card">
                    <div class="member-image">
                        <img src="images/Diego.jpeg" alt="">
                    </div>
                    <div class="member-info">
                        <h2>Youthan Irigóyen</h2>
                        <a href="https://github.com/joeirigoyen" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>
                
                <div class="member-card">
                    <div class="member-image">
                        <img src="images/Diego.jpeg" alt="">
                    </div>
                    <div class="member-info">
                        <h2>Carlos Toapanta</h2>
                        <a href="https://github.com/Carlos-165" target="_blank"><i class="fab fa-github"></i></a>
                    </div>
                </div>


            </div>

        </section>

        <!-- Footer -->
        <footer>
            <div class="footer-info">
                <h4>Elaborado por Insider en la clase Construcción de software y toma de decisiones (Gpo 401). Para el movimiento STEAM<br> 2021</h4>
            </div>

            <div class="footer-social">
                <h4>Github Página web y Videojuego.</h4>
                <div>
                    <a href="https://github.com/UlibarriD/Insider-website" target="_blank"><i class="fas fa-globe"></i></a>
                    <a href="https://github.com/Emilio2001Rivers2016/InsiderSTEAM" target="_blank"><i class="fas fa-gamepad"></i></a>
                </div>
            </div>   
        </footer>

        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/d0fe208db5.js" crossorigin="anonymous"></script>

        <!-- Import personal js -->
        <script src="js/navbar.js"></script>
        <script src="js/banner.js"></script>
    </body>
</html>
