<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insider</title>

        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- Import personal css -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        <section class="login">
            <div class="login-container">
                <div class="user signin">
                    <div class="loginImg"> <img src="../images/BaseCharacter.png" alt=""></div>
                    <div class="login-form">
                        <form action="IniciarSesion" method="POST">
                            <a href="/insider"><i class="far fa-times-circle" id="close"></i></a>
                            <h2>Insider</h2>
                            <h3>Iniciar Sesión</h3>
                            <input type="text" name="nickname" placeholder="Nickname">
                            <input type="password" name ="password" placeholder="Contraseña">
                            <input type="submit" name="" value="Inicia Sesión">

                            <% if(typeof errors!= 'undefined') { %>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <% errors.forEach(function(error){ %>            
                                            <strong><%= error.msg %></strong> <br>
                                    <% }) %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            <% } %>
                            <p class="login_signup">Todavía tienes una cuenta? <a href="#" onclick="toggleForm();">Crea tu cuenta</a></p>
                        </form>
                    </div>
                </div>

                <div class="user signup">
                    <div class="login-form">
                        <form action="NuevoJugador" method="POST">
                            <a href="/insider"><i class="far fa-times-circle" id="close-phone"></i></a>
                            <h2>Insider</h2>
                            <h3>Crea tu cuenta</h3>
                            <!-- Name/lastName -->
                            <input type="text" name="name" id="name" placeholder="Nombre" required>
                            <input type="text" name="last_name" id="lastName" placeholder="Apellido" required>
                            <!-- nickName -->
                            <input type="text" name="nickname" id="nickName" placeholder="Nickname" required>
                            <!-- dateBirth -->
                            <label for="dateBirth">Fecha Nacimiento</label>
                            <input type="date" name="date_of_birth" id="dateBirth" required>

                            <!-- gender/state-->
                            <div class="row">
                                <div class="col">
                                    <label for="gender">Genero</label>
                                    <select name="gender" id="gender">
                                        <option selected>M</option>
                                        <option>F</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="state">Estado</label>
                                    <select name="state" id="state">
                                        <option selected>Aguascalientes</option>
                                        <% estados.forEach(estado => { %>
                                            <option><%= estado %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <!-- password/confimPassword-->
                            <input name="password" type="password" id="password" placeholder="Contraseña" required>
                            <input name="password2" type="password" id="confirmPassword" placeholder="Confirmar Contraseña" required>
                            <!-- page policies -->
                            <div class="policies">
                                <input name="page_policies" type="checkbox" class="form-check-input" id="pagePolicies" required>
                                <p>Estoy de acuerdo con las politicas de uso</p>
                            </div>
                            <input type="submit" name="" value="Crear cuenta">
                            <!-- Errors msg -->
                            <% if(typeof errors!= 'undefined') { %>
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <% errors.forEach(function(error){ %>            
                                            <strong><%= error.msg %></strong> <br>
                                    <% }) %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            <% } %>
                            <p class="login_signup">Ya tienes una cuenta? <a href="#" onclick="toggleForm();">Inicia Sesión</a></p>
                        </form>
                    </div>
                    <div class="loginImg right">
                        <a href="/insider"><i class="far fa-times-circle" id="close"></i></a>
                        <img src="../images/BaseCharacter.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        
        <!-- Import personal js -->
        <script src="../js/login.js"></script>
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/d0fe208db5.js" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    </body>
</html>
