<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insider</title>

        <!-- Import Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- Import personal css -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        <!-- Header -->
        <header id="header">
            <a href="#" class="logo">Insider</a>
            <ul>
                <li><a href="/insider#home" onclick="toggle()">Inicio</a></li>
                <li><a href="/insider#about" onclick="toggle()">Acerca de Insider</a></li>
                <li><a href="/insider#worlds" onclick="toggle()">Mundos</a></li>
                <li><a href="/insider#team" onclick="toggle()">Nuestro Equipo</a></li>
                <% if(player){ %>
                    <li class="avatar-dropdown">
                        <img class="avatar dropdown-toggle" data-toggle="dropdown" src="https://image.freepik.com/vector-gratis/cute-dibujos-animados-juegos-gato_138676-2969.jpg" />
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/insider/jugador">Mi perfil</a>
                            <a class="dropdown-item" href="/insider/cerrarSesion">Cerrar Sesión</a>
                        </div>
                    </li>
                    <li class="player-links"><a href="/insider/jugador">Mi perfil</a></li>
                    <li class="player-links"><a href="/insider/cerrarSesion">Cerrar Sesión</a></li>
                <% } %>
            </ul>

            <div class="toggle" onclick="toggle()"></div>
        </header>
        <!-- Banner Player-->
        <section class="banner-player">
            <div class="container">
                <h1>Bienvenido <%= player.name %> <%= player.last_name %></h1>
                <br>
                <a href="/insider/cerrarSesion">Jugar</a>
            </div>
        </section>
        <!-- Stats/Config-->
        <section class="player container">
            <nav class="player-nav">
                <h3 class="nav n-active">Editar perfil</h3>
                <h3 class="nav">Estadísticas</h3>
                <h3 class="nav">Historial</h3>
            </nav>
            <div class="config active">
                <h3>Nombre: <%= player.name %></h3>
                <h3>Apellido: <%= player.last_name %></h3>
                <h3>Nickname: <%= player.nickname %></h3>
                <h3>Fecha de nacimiento: <%= player.date_of_birth %></h3>
                <h3>Género: <%= player.gender %></h3>
                <h3>Estado: <%= player.state %></h3>
                <h3>Contraseña: </h3>
            </div>

            <div class="stats">
                <canvas id="playerScores" style="max-width: 600px; max-height: 600px;"></canvas>
            </div>

            <div class="history">
                <div class="score">
                    <canvas id="scienceScores" style="max-width: 600px; max-height: 600px;"></canvas>
                </div>

                <div class="score">
                    <canvas id="techScore" style="max-width: 600px; max-height: 600px;"></canvas>
                </div>

                <div class="score">
                    <canvas id="engScore" style="max-width: 600px; max-height: 600px;"></canvas>
                </div>

                <div class="score">
                    <canvas id="artScore" style="max-width: 600px; max-height: 600px;"></canvas>
                </div>

                <div class="score">
                    <canvas id="mathScore" style="max-width: 600px; max-height: 600px;"></canvas>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <div class="footer-info">
                <h4>Elaborado por Insider en la clase Construcción de software y toma de decisiones (Gpo 401). Para el movimiento STEAM<br> 2021</h4>
            </div>

            <div class="footer-social">
                <h4>Github Página web y Videojuego.</h4>
                <div>
                    <a href="https://github.com/UlibarriD/Insider-website" target="_blank"><i class="fas fa-globe"></i></a>
                    <a href="https://github.com/Emilio2001Rivers2016/InsiderSTEAM" target="_blank"><i class="fas fa-gamepad"></i></a>
                </div>
            </div>   
        </footer>


        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>

        <!-- Js -->
        <script src="../js/navbar.js"></script>
        <script src="../js/player.js"></script>
        <script src="../js/playerStats.js"></script>
        <% if (skills.length > 8) { %>
            <script> radar([<%= skills[0].score %>, <%= skills[1].score %>, <%= skills[2].score %>, <%= skills[3].score %>, <%= skills[4].score %>, <%= skills[5].score %>, <%= skills[6].score %>, <%= skills[7].score %>, <%= skills[8].score %>]) </script>
        <% } %>
        <% if(history.length > 33) { %>
            <script> science([<%= history[0].score %>, <%= history[1].score %>, <%= history[2].score %>, <%= history[3].score %>, <%= history[4].score %>, <%= history[5].score %>, <%= history[6].score %>]) </script>
            <script> tech([<%= history[7].score %>, <%= history[8].score %>, <%= history[9].score %>, <%= history[10].score %>, <%= history[11].score %>, <%= history[12].score %>, <%= history[13].score %>]) </script>
            <script> eng([<%= history[14].score %>, <%= history[15].score %>, <%= history[16].score %>, <%= history[17].score %>, <%= history[18].score %>, <%= history[19].score %>, <%= history[20].score %>]) </script>
            <script> art([<%= history[21].score %>, <%= history[22].score %>, <%= history[23].score %>, <%= history[24].score %>, <%= history[25].score %>, <%= history[26].score %>, <%= history[27].score %>]) </script>
            <script> math([<%= history[28].score %>, <%= history[29].score %>, <%= history[30].score %>, <%= history[31].score %>, <%= history[32].score %>, <%= history[33].score %>, <%= history[34].score %>]) </script>
        <% } %>
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/d0fe208db5.js" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    </body>
</html>