<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Insider</title>

        <!-- Import personal css -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        
        <div class="steam-container">
            <!-- Navigation -->
            <div class="navigation">
                <ul>
                    <li>
                        <a href="">
                            <span class="icon"><i class="fas fa-laptop-code"></i></span>
                            <span class="title"> <h1>Insider</h1> </span>
                        </a>
                    </li>
                    <li>
                        <a href="/insider">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="title">Regresar</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider">
                            <span class="icon"><i class="fas fa-user"></i></span>
                            <span class="title">Por Usuario</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider">
                            <span class="icon"><i class="fas fa-globe-americas"></i></span>
                            <span class="title">Por estado</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="title">Cerrar Sesión</span>
                         </a>
                    </li>
                </ul>

            </div>

            <div class="main">
                <div class="topbar">
                    <div class="toggle-steam" onclick=" toggleMenu()"><i class="fas fa-align-justify"></i></div>

                    <div class="profile">
                        <i class="fas fa-user-circle"></i>
                    </div>
                </div>
                <div class="data">
                    <canvas id="gameTendencies"></canvas>
                </div>
            </div>

        </div>

        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
        <script src="../js/steamStats.js"></script>
        <script>
            Tendencies([<%= tendency[1].dtendency %>, <%= tendency[5].dtendency %>, <%= tendency[6].dtendency %>, <%= tendency[4].dtendency %>, <%= tendency[0].dtendency %>, <%= tendency[2].dtendency %>, <%= tendency[3].dtendency %>], 
            [6, 8, 8, 1, 14, 2, 10], 
            [5, 1, 1, 20, 12, 16, 18], 
            [11, 2, 4, 4, 8, 9, 10], 
            [12, 4, 2, 2, 2, 16, 10])
        </script>

        <!-- Personal -->
        <script src="../js/steam.js"></script>
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/d0fe208db5.js" crossorigin="anonymous"></script>
    </body>
</html>
