<!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="../images/LogoInsiderWhiteLittle.png"/>
        
        <title>Insider</title>
        <!-- Import personal css -->
        <link rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        <div class="steam-container">
            <!-- Navigation -->
            <div class="navigation">
                <ul>
                    <li class="n-logo">
                        <a href="/insider">
                            <img src="../images/LogoInsiderWhiteLittle.png" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/insider">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="title">Regresar</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider/datosjugador#competencias">
                            <span class="icon"><i class="far fa-chart-bar"></i></span>
                            <span class="title">Promedio competencias</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider/datosjugador#tendencias">
                            <span class="icon"><i class="fas fa-chart-line"></i></span>
                            <span class="title">Tendencias del día</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider/datosjugador#genero">
                            <span class="icon"><i class="fas fa-restroom"></i></span>
                            <span class="title">Competencias por genero</span>
                         </a>
                    </li>
                    <li>
                        <a href="/insider/cerrarSesion">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="title">Cerrar Sesión</span>
                         </a>
                    </li>
                </ul>

            </div>

            <div class="main">
                <div class="topbar">
                    <div class="toggle-steam" onclick=" toggleMenu()"><i class="fas fa-align-justify"></i></div>

                    <div class="profile">
                    </div>
                </div>
                <div class="data dfirst" id="competencias" >
                    <canvas id="skillAvg"></canvas>
                </div>
                <div class="data" id="tendencias">
                    <canvas id="gameTendencies"></canvas>
                </div>

                <div class="data" id="genero">
                    <canvas id="genderSkills"></canvas>
                </div>
            </div>

        </div>

        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
        <script src="../js/steamStats.js"></script>

        <!-- Player competences -->
        <% var skillValues = []; %>

        <% for(var i = 0; i < skills.length; i++) { %>
            <% skillValues.push(skills[i].score) %>    
        <% } %>        
        <script>skillsStats("<%= skillValues %>")</script>

        <!-- Tendencies -->
        <% var scidata = []%>
        <% var techdata = []%>
        <% var engdata = []%>
        <% var artdata = []%>
        <% var mathdata = []%>
        <% for(let i = 0; i < tendency.length; i ++){ %>
            <% if(tendency[i].worldId === 1){ %>
                <% scidata.push(tendency[i].dtendency) %>
            <% }else if(tendency[i].worldId === 2){ %>
                <% techdata.push(tendency[i].dtendency) %>
            <% }else if(tendency[i].worldId === 3){ %>
                <% engdata.push(tendency[i].dtendency) %>
            <% }else if(tendency[i].worldId === 4){ %>
                <% artdata.push(tendency[i].dtendency) %>
            <% }else if(tendency[i].worldId === 5){ %>
                <% mathdata.push(tendency[i].dtendency) %>
            <% } %>
        <% } %>
        <script> Tendencies("<%= scidata %>", "<%= techdata %>", "<%= engdata %>", "<%= artdata %>", "<%= mathdata %>") </script>

        <!-- Gender -->
        <% var skillValuesWomen = []; %>
        <% var skillValuesMen = []; %>

        <% for(var i = 0; i < genderSkills.length; i++) { %>
            <% if(genderSkills[i].gender === "M"){ %>
                <% skillValuesMen.push(genderSkills[i].score) %>    
            <% } else{ %>
                <% skillValuesWomen.push(genderSkills[i].score) %>                 
            <% } %>
        <% } %>
        <script> genderS("<%= skillValuesWomen %>","<%= skillValuesMen %>") </script>

        <!-- Personal -->
        <script src="../js/steam.js"></script>
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/d0fe208db5.js" crossorigin="anonymous"></script>
    </body>
</html>
