/* Player banner */
.banner-player
{
    position: relative;
    width: 100%;
    min-height: 70vh;
    background: #E63946;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-player .container h1
{
    color: #fff;
    margin-bottom: 8px;
}
.banner-player .container a
{
    background: #457B9D;
    padding: 16px 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.banner-player .container a:hover
{
    background: #376c8d;
    text-decoration: none;
}
/* Landingpage banner */
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../images/Technology.PNG");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}
.cards
{
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px rgba(255,255,255,0.6);
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: 0.5s;
}
.cards > h2 > a
{
    color: #fff;
    font-size: 45px;
    text-shadow: 1px 1px 15px rgba(0,0,0,1);
}
.cards > h2 > a:hover
{
    color: #A8DADC;
    text-decoration: none;
}
.cards:hover
{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

#move-right
{
    display: none;
}
#move-left
{
    display: none;
}

@media screen and (max-width: 1200px)
{
    #move-left
    {
        display: block;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
    }
    #move-right
    {
        display: block;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
    }
    .banner > .disabled
    {
        display: none;
    }
}
@media screen and (max-width: 600px)
{
    .cards
    {
        width: 280px;
    } 
}
