/* Player banner */
.banner-player
{
    position: relative;
    width: 100%;
    min-height: 70vh;
    background-color:  #7e002f;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-player .container h1
{
    color: #fff;
    margin-bottom: 8px;
}
.banner-player .container a
{
    background: #457B9D;
    padding: 16px 40px;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
}
.banner-player .container a:hover
{
    background: #376c8d;
    text-decoration: none;
}
/* Landingpage banner */
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color:  #7e002f;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}
.cards
{
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: 0.5s;
}

.cards p
{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    color: #03e9f4;
    font-size: 45px;
    transition: 0.5s;
    overflow: hidden;
    text-shadow: 0 0 15px #000;
}
.cards:hover p
{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4, 
                0 0 25px #03e9f4, 
                0 0 50px #03e9f4, 
                0 0 150px #03e9f4;
}
.cards p span
{
    position: absolute;
    display: block;
}
.cards p span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%, 100%
    {
        left: 100%;
    }
}

.cards p span:nth-child(2)
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%, 100%
    {
        top: 100%;
    }
}

.cards p span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%, 100%
    {
        right: 100%;
    }
}

.cards p span:nth-child(4)
{
    left: 0;
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%, 100%
    {
        bottom: 100%;
    }
}
.cards p:nth-child(1)
{
    filter: hue-rotate(175deg);
}
.cards:hover
{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

#move-right
{
    display: none;
}
#move-left
{
    display: none;
}

@media screen and (max-width: 1350px)
{
    #move-left
    {
        display: block;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
    }
    #move-right
    {
        display: block;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
    }
    .disabled
    {
        display: none;
    }
}
@media screen and (max-width: 600px)
{
    .cards
    {
        width: 280px;
    } 
}
