/* Singn in */
section.login
{
    position: relative;
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
section.login .login-container
{
    position: relative;
    width: 1500px;
    height: 800px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}
section.login .login-container .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;

}
section.login .login-container .user .loginImg
{
    position: relative;
    width: 60%;
    background: #12243F;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

section.login .login-container .user .loginImg img
{
    position: absolute;
}
section.login .login-container .user .login-form
{
    position: relative;
    width: 40%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    transition: 0.5s;
}
section.login .login-container .user .login-form form h2
{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    margin-bottom: 20px;
    color: #12243F;
}
section.login .login-container .user .login-form form h3
{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #12243F;
}
section.login .login-container .user .login-form form p
{
    letter-spacing: 1px;
    color: #12243F;
}
section.login .login-container .user .login-form form input
{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
}
section.login .login-container .user .login-form form #close
{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 27px;
    color: #12243F;
}
section.login .login-container .user .login-form form #close:hover
{
    color: #E63946;
}
section.login .login-container .user .login-form form input[type= "submit"]
{
    max-width: 100%;
    background: #E63946;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s;
}
section.login .login-container .user .login-form form input[type= "submit"]:hover
{
    background: #ce2b39;
}
section.login .login-container .user .login-form form .login_signup
{
    position: relative;
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
}
section.login .login-container .user .login-form form .login_signup a
{
    text-decoration: none;
    font-size: 13px;
    color: #E63946;
    cursor: pointer;
}
/* Singn in */
/* Singn up */
section.login .login-container .user .login-form form label
{
    color: #12243F;
    text-shadow: none;
    margin: 0;
}
section.login .login-container .user .login-form form select
{
    position: relative;
    width: 100%;
    padding: 16px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    letter-spacing: 1px;
    font-weight: 700;
}
section.login .login-container .user .login-form form select option
{
    font-weight: 700;
}
section.login .login-container .user .login-form form .policies
{
    display: flex;
}
section.login .login-container .user .login-form form .policies input
{
    width: 20px;
    margin-right: 10px;
}
section.login .login-container .user .login-form form .policies p
{
    margin: 0;
    color: #555;
    font-weight: 700;
}
section.login .login-container .user .right
{
    background: #E63946;
}
section.login .login-container .user .right #close
{
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 27px;
    color: #fff;
}
section.login .login-container .user .right #close:hover
{
    color: #A8DADC;
}
/* Singn up */

/* Signin Active or Signup Active*/
section.login .login-container .signup
{
    pointer-events: none;
}
section.login .login-container.form-active .signup
{
    pointer-events: initial;
}

section.login .login-container .signup .login-form
{
    left: 100%;
}
section.login .login-container.form-active .signup .login-form
{
    left: 0;
}
section.login .login-container .signup .right
{
    left: -100%;
}
section.login .login-container.form-active .signup .right
{
    left: 0;
}
/* signin */
section.login .login-container .signin .login-form
{
    left: 0;
}
section.login .login-container.form-active .signin .login-form
{
    left: 100%;
}
section.login .login-container .signin .right
{
    left: 0;
}
section.login .login-container.form-active .signin .right
{
    left: -100%;
}

section.login .login-container .user .login-form form #close-phone
{
    display: none;
}
/* Errors messages */
.close i
{
    font-size: 18px;
}

/* Responsiveness */
@media screen and (max-width: 1149px) 
{
    section.login .login-container
    {
        max-width: 900px;
    }
    section.login .login-container .user .loginImg
    {
        width: 30%; 
    }
    section.login .login-container .user .loginImg img
    {
        width: 250px;
    }
    section.login .login-container .user .login-form
    {
        width: 70%;
    }

}
@media screen and (max-width: 900px) 
{
    section.login .login-container
    {
        max-width: 900px;
    }
    section.login .login-container .user .loginImg
    {
        display: none; 
    }
    section.login .login-container .user .login-form
    {
        width: 100%;
    }
    section.login .login-container .user .login-form form #close-phone
    {
        display: inline;
        color: #12243F;
        position: absolute;
        top: 8px;
        right: 8px;
        font-size: 27px;
    }
}
@media screen and (max-width: 500px)
{
    section.login .login-container
    {
        height: 770px;
    }
    section.login .login-container .user .login-form
    {
        padding: 20px;
    }
    section.login .login-container .user .login-form form h2
    {
        font-size: 30px;
    }
    section.login .login-container .user .login-form form h3
    {
        font-size: 14px;
    }
    section.login .login-container .user .login-form form .policies p, 
    section.login .login-container .user .login-form form .login_signup
    {
        font-size: 12px;
        margin: 0;
    }
    section.login .login-container .user .login-form form input
    {
        padding: 7px;
    }
    section.login .login-container .user .login-form form select
    {
        padding: 9px;
    }
}
