header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    z-index: 1000;
    transition: 0.6s;
}
header .logo img.white-insider
{
    width: 295px;
    position: absolute;
    top: 20px;
    transform: translateY(0);
    transition: transform ease-out 0.3s;
}
header .logo img.black-insider
{
    transform: translateY(-200%);
    transition: transform ease-out 0.3s;
    width: 200px;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header ul li
{
    position: relative;
    list-style: none;
    line-height: 50px;
}
header ul li.player-links
{
    display: none;
}
header ul li .avatar
{
    width: 50px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
}
header ul li .dropdown-menu .dropdown-item
{
    margin: 0;
    text-shadow: none;
    font-weight: 700;
}
header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
}
header ul li a:hover 
{
    text-decoration: none;
    color: #A8DADC;
}
header.sticky
{
    padding: 8px 100px;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}
header.sticky .logo img.white-insider
{
    transform: translateY(-200%);
    width: 295px;
}
header.sticky .logo img.black-insider
{
    display: block;
    transform: translateY(0);
    width: 200px;
    position: absolute;
    top: 2px;

}
header.sticky ul li a
{
    color: #1D3557;
    text-shadow: none;
}
header.sticky ul li a
{
    font-size: 17px;
}

header.sticky ul li a:hover
{
    color: #457B9D;
    text-shadow: none;
}
.toggle
{
    display: none;
}

/* Responsive */
@media screen and (max-width: 1350px)
{
    .toggle
    {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        cursor: pointer;
    }
    .toggle:before
    {
        content: '';
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #1D3557;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    .toggle:after
    {
        content: '';
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #1D3557;
        z-index: 1;
        transition: 0.5s;
    }

    header, header.sticky
    {
        background: #fff;
        padding: 10px 50px;
    }
    header ul
    {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }
    header.active ul
    {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }
    header ul li.player-links
    {
        display: block;
    }
    header ul li.avatar-dropdown
    {
        display: none;
    }
    header.active ul li a
    {
        margin: 30px 0;
        display: inline-block;
        font-size: 30px;
    }

    header .logo img.white-insider
    {
        display: none;
    } 
    header .logo img.black-insider
    {
        display: none;
    }
    header ul li a
    {
        color: #1D3557;
        text-shadow: none;
    }
    header.sticky .logo img.black-insider
    {
        display: none;
    }

}

@media screen and (max-width: 800px)
{
    header.active ul li a
    {
        font-size: 26px;
    }
}

@media screen and (max-width: 600px)
{
    header, header.sticky
    {
        padding: 10px;
    }
    header.active ul li a
    {
        font-size: 18px;
    }
}