.player
{
    min-height: 80vh;
}
.player .player-nav
{
    margin: 64px 0;
    width: 300px;
    display: flex;
    justify-content: space-around;
}
.player .player-nav .nav
{
    font-size: 24px;
    cursor: pointer;
    color: #1D3557;
}
.player .player-nav .n-active
{
    color: #457B9D;
    border-bottom: 2px solid #457B9D;
}
/* config */
.player .config
{
    display: none;
    padding: 16px;
    border: 2px solid gray;
    border-radius: 4px;
    width: 500px;
}
.player .config h3
{
    font-size: 21px;
}
/* Stats */
.player .stats
{
    display: none;
}
.player .active
{
    display: block;
}

/* Breakout responsive */
@media screen and (max-width: 600px) 
{
    .player .config
    {
        width: 341px;
        margin: 0;
    }
}

