.player
{
    min-height: 85vh;
}
.player .player-nav
{
    margin: 64px 0;
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.player .player-nav .nav
{
    font-size: 24px;
    cursor: pointer;
    color: #1D3557;
}
.player .player-nav .n-active
{
    color: #457B9D;
    border-bottom: 2px solid #457B9D;
}
/* config */
.player .config
{
    display: none;
    padding: 16px;
    border: 2px solid gray;
    border-radius: 4px;
    width: 500px;
}
.player .config h3
{
    font-size: 21px;
}
/* Stats */
.player .stats
{
    display: none;
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 16px;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
}
.player .stats.active
{
    display: flex;
}

/* History */
.player .history
{
    display: none;
}
.player .history.active
{
    display: block;
}
.player .history .score
{
    width: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 16px;
    margin-bottom: 16px;
    min-height: 650px;
}


.player .active
{
    display: block;
}

/* Breakout responsive */
@media screen and (max-width: 1300px) 
{
    .player .history .score
    {
        min-height: 600px;
    }
    #scienceScores, #techScore, #engScore, #artScore, #mathScore
    {
        height: 568px;
    }
}
@media screen and (max-width: 1300px) 
{
    .player .history .score
    {
        min-height: 500px;
    }
    #scienceScores, #techScore, #engScore, #artScore, #mathScore
    {
        height: 468px;
    }
}
@media screen and (max-width: 600px) 
{
    .player .history .score
    {
        min-height: 350px;
    }
    #scienceScores, #techScore, #engScore, #artScore, #mathScore
    {
        height: 318px;
    }
    .player .config
    {
        width: 341px;
        margin: 0;
    }
    .player .player-nav
    {
        width: 340px;
    }
    .player .player-nav .nav
    {
        margin-right: 16px;
    }
    .player .player-nav::-webkit-scrollbar
    {
        width: 0;
    }
}

